# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.json,*.py]
indent_size = 2
indent_style = space

[*.md]
indent_size = 2
indent_style = space
trim_trailing_whitespace = false

[*.toml]
insert_final_newline = false
indent_style = space

[*.yml]
indent_size = 2
indent_style = space
